body{
    width: 100%;
    height: auto;
    margin: 0;
    font-family: sans-serif;
}
.menu{
    margin: 0;
    width: 100%;
    min-height: 40px;
    background: rgba(124, 118, 118, 0.808);
    border-bottom: black solid 2px;
}
h2{
    margin-top: 0;
    color: white;
    text-align: center;
}
.gri{
    margin: auto;
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    text-align: center;
}
img{
    width: 30%;
    margin-left: 11%;
}
#decrease{
    max-height: 383px;
}